<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="notice"><%= notice %></div>

    <nav> 
      <%= link_to "Home", root_path %>
      <% if authenticated? %> 
        <%= button_to "Log out", session_path, method: :delete, class: "nav-button" %>
      <% else %> 
        <%= link_to "Log In", new_session_path, class: "nav-link" %>
      <% end %> 
    </nav>
    <main>
      <%= yield %>
    </main>

  </body>
</html>

<style>
nav {
  text-align: center;
  margin-top: 20px;
}

nav a,
nav button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}

nav a:hover,
nav button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
</style>
